<footer class="page-footer light-gray pt-2 mt-4" style="background-color: #F7F7F7;">
    <div class="container-fluid">
        <div class="row  p-3 pt-4">
            <!-- <ul class="list-unstyled">
                <li>
                    <a href="#!">Facebook</a>
                </li>
                <li>
                    <a href="#!">Instagram</a>
                </li>
                <li>
                    <a href="#!">Twitter</a>
                </li>
            </ul> -->
            <div style="clear: both;"></div>
            <p>Cat Questions® is a registered trademark of the Cat Foundation, Inc.</p>
        </div>
    </div>
</footer>
