<nav class="fixed-top navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'questions_list_url' %}">Cat Questions</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'tags_list_url' %}">Tags</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <a href="{% url 'ask_page_url' %}"><button class="btn btn-success my-2 my-sm-0 ml-2" type="submit">Ask</button></a>
        <div class="ml-4">
            <div style="width: 35px;"></div><img class="rounded-pill" src="https://picsum.photos/35/35" alt="">
        </div>
        <div class="ml-3">
            <span class="navbar-text"> <a href="{% url 'sign_in_url' %}">Sign in</a> | <a
                    href="{% url 'register_url' %}">Register</a></span>
        </div>
    </div>
</nav>