<div class="container mt-9 fixed-top" style="z-index: 1;">
    <div class="row">
        <div class="col-7 offset-md-1"></div>
        <div class="col-3">
            <div class="">
                <div class="div" style="height: 80px;"></div>
                <div class="card mt-10 mb-10">
                    <div class="card-header">
                        Tags
                    </div>
                    <div class="card-body">
                        <a href="#">django</a> <a href="#">web</a> <a href="#">c++</a>
                        <a href="#">data</a> <a href="#">javascript</a> <a href="#">cat</a>
                        <a href="#">css</a> <a href="#">html</a> <a href="#">design</a>
                        <a href="#">site</a>
                    </div>
                </div>
                <div style="height: 30px;"></div>
                <div class="card mt-10 ">
                    <div class="card-header">
                        Best members
                    </div>
                    <div class="card-body">
                        <div><a href="#">Montana</a></div>
                        <div><a href="#">Barsik</a></div>
                        <div><a href="#">Dr House</a></div>
                        <div><a href="#">Bender</a></div>
                        <div><a href="#">Queen Victoria</a></div>
                        <div><a href="#">V Pupkin</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>